@import url(src/assets/css/normalize.css);
@import url(src/assets/css/variables.css);
@import url(src/assets/css/utilities.css);
@import url(src/assets/css/index.css);

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1rem;
  color: var(--neutral-light);
  background-color: var(--neutral-medium);
  background-image: url("src/assets/images/bg-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background-color: var(--neutral-medium-dark);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark);
  border-radius: 4px;
}

#root {
  height: 100vh;
}


.navigation__links {
  text-decoration: none;
  color: var(--neutral-light);
}

.navigation__links:hover {
  color: var(--primary-dark);
}


