@import url(src/assets/css/normalize.css);
@import url(src/assets/css/variables.css);
@import url(src/assets/css/utilities.css);
@import url(src/assets/css/index.css);


#root {
  background-image: url("src/assets/images/bg-header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1rem;
  color: var(--neutral-light);
  background-color: var(--neutral-medium);
}

.navigation__links {
  text-decoration: none;
  color: var(--neutral-light);
}

